body {
  font-size: 16px;
  font-family: Arial;
  display: block;
  margin: auto;
}

input, textarea{
  width: 88%;
  max-width: 88%;
  min-width: 88%;
  margin: 10px 5%;
  padding: 2px;
  border: 1px solid rgb(68, 68, 68);
  font-size: 14px;
  outline: none;
}

label {
  margin-left: 5%;
  color: blue;
}

.view-column {
  max-width: 500px;
  min-width: 300px;
}

.button {
  width: 20%; 
  display: block; 
  margin: auto; 
  background-color: white; 
  color: red;
  outline: none;
  border: 1px solid black;
  border-radius: 50px;
}

.button:hover {
  color: rgb(240, 240, 240);
  background-color: rgb(110, 110, 110); 
}

h1 {
  text-align: center;
}

.note-title {
  font-size: 16px;
  text-align: left;
  padding: 2px;
  margin: 10px 5%;
  color: blue;
}

.note-content {
  font-size: 14px;
  text-align: left;
  padding: 2px;
  margin: 10px 5%;
}

.note {
  margin: 15px auto;
  padding: 10px 0;
  border: 1px solid rgb(207, 207, 207);
  background-color: rgb(235, 235, 235);
  max-width: 500px;
  display: block;

}

/* Animations */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}